@model HelloEmpty.Models.HelloMessage


<html>
<head>
    <title>Hello MVC !</title>
</head>

    <h1>@Model.Message</h1>
    <hr/>
    <h2>@ViewBag.Noti</h2>

    <form asp-controller="Home" asp-action="Index" method="post">
        <label asp-for="Message">Enter message</label>
        <br/>
        <input type="text" asp-for="Message" />
        <br/>
        <button type="submit">Submit</button>
    </form>

</html>